asyncio-nats-client==0.11.4
bleach==4.1.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cycler==0.10.0
dill==0.3.4
docutils==0.17.1
ed25519==1.5
Flask==2.0.2
flitton-fib-py==0.0.2
idna==3.3
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.2
keyring==23.2.1
kiwisolver==1.3.2
MarkupSafe==2.0.1
mypy==0.910
mypy-extensions==0.4.3
mysql-connector-python==8.0.26
nats-python==0.8.0
nkeys==0.1.0
numpy==1.21.2
packaging==21.0
Pillow==8.4.0
pkginfo==1.7.1
protobuf==3.19.0
Pygments==2.10.0
pyparsing==2.4.7
python-dateutil==2.8.2
pywin32-ctypes==0.2.0
PyYAML==6.0
readme-renderer==30.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
semantic-version==2.8.5
setuptools-rust==0.12.1
six==1.16.0
toml==0.10.2
tqdm==4.62.3
twine==3.4.2
typing-extensions==3.10.0.2
urllib3==1.26.7
webencodings==0.5.1
Werkzeug==2.0.2
zipp==3.6.0
